<section id="feature">
  <div class="container">
    <h2 class="title i18n" data-i18n="index.feature_title"></h2>
    <div class="feature clearfix">
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_1.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt1"></dt>
        <dd class="i18n" data-i18n="index.feature_dd1"></dd>
      </dl>
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_2.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt2"></dt>
        <dd class="i18n" data-i18n="index.feature_dd2"></dd>
      </dl>
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_3.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt3"></dt>
        <dd class="i18n" data-i18n="index.feature_dd3"></dd>
      </dl>
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_4.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt4"></dt>
        <dd class="i18n" data-i18n="index.feature_dd4"></dd>
      </dl>
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_5.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt5"></dt>
        <dd class="i18n" data-i18n="index.feature_dd5"></dd>
      </dl>
      <dl class="fl">
        <div class="image">
          <img src="./assets/feature_6.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.feature_dt6"></dt>
        <dd class="i18n" data-i18n="index.feature_dd6"></dd>
      </dl>
    </div>
    <div class="btn">
      <a href="https://fir.im/newch" class="common-button i18n" data-i18n="index.download"></a>
    </div>
  </div>
</section>