<section id="about">
  <div class="container">
    <h2 class="title i18n" data-i18n="index.about_title"></h2>
    <article class="intro">
      <p class="i18n" data-i18n="index.about_desc1"></p>
      <p class="i18n" data-i18n="index.about_desc2"></p>
      <p class="i18n" data-i18n="index.about_desc3"></p>
    </article>

    <h2 class="title paper i18n" data-i18n="index.paper_title"></h2>
    <div class="content clearfix">
      <dl class="fl">
        <div class="img">
          <img src="./assets/paper_1.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.paper1"></dt>
        <dd>
          <a href="javascipt:;"
            class="common-button open-white-paper i18n"
            data-type="business"
            data-i18n="index.open"></a>
        </dd>
      </dl>
      <dl class="fl">
        <div class="img">
          <img src="./assets/paper_2.png" alt="NewChat"/>
        </div>
        <dt class="i18n" data-i18n="index.paper2"></dt>
        <dd>
          <a href="javascript:;"
             class="common-button open-white-paper i18n"
             data-type="tech"
             data-i18n="index.open"></a>
        </dd>
      </dl>
    </div>
    <h2 class="title i18n contact" data-i18n="index.contact_title" id="contact"></h2>
    <article class="intro">
      <p class="i18n" data-i18n="index.contact_desc"></p>
    </article>
    <div class="contact-padding"></div>
    <h2 class="title i18n talk" data-i18n="index.talk_title"></h2>
    <div class="btn">
      <a href="https://fir.im/newch" class="common-button i18n" data-i18n="index.download"></a>
    </div>
  </div>
</section>