<header>
  <div class="container clearfix">
    <div class="logo fl">
      <a href="/index.html">
        <img src="./../../assets/logo.png" alt="NewChat"/>
      </a>
    </div>
    <nav class="fr">
      <ul class="fl">
        <li>
          <a href="#work" class="i18n" data-i18n="header.nav1"></a>
        </li>
        <li>
          <a href="#feature" class="i18n" data-i18n="header.nav2"></a>
        </li>
        <li>
          <a href="#about" class="i18n" data-i18n="header.nav3"></a>
        </li>
        <li>
          <a href="#contact" class="i18n" data-i18n="header.nav4"></a>
        </li>
        <li class="lang">
          <a href="#" class="current-language"></a>
          <ul class="dropdown">
            <li id="english">EN</li>
            <li id="chinese">中文</li>
          </ul>
        </li>
      </ul>
      <a href="https://fir.im/newch" class="common-button i18n fl" data-i18n="header.nav5"></a>
    </nav>
  </div>
</header>