<section id="work">
  <div class="cover-bg">
    <div class="container">
      <h2 class="title i18n" data-i18n="index.work_title"></h2>
      <div class="intro-block block1 clearfix">
        <article class="intro fr">
          <h3 class="i18n" data-i18n="index.work_title1"></h3>
          <p class="i18n" data-i18n="index.work_desc1"></p>
        </article>
      </div>
      <div class="intro-block block2 clearfix">
        <article class="intro fl">
          <h3 class="i18n" data-i18n="index.work_title2"></h3>
          <p class="i18n" data-i18n="index.work_desc2"></p>
        </article>
      </div>
      <div class="intro-block block3 clearfix">
        <article class="intro fr">
          <h3 class="i18n" data-i18n="index.work_title3"></h3>
          <p class="i18n" data-i18n="index.work_desc3_1"></p>
          <p class="i18n" data-i18n="index.work_desc3_2"></p>
        </article>
      </div>
      <div class="image intro1"></div>
      <div class="image intro2"></div>
      <div class="image intro3"></div>
    </div>
  </div>
</section>